<div class="amp-dc-banner js_dc_banner">
    <div class="amp-dc-banner-pic-wrap">
      
    </div>
</div>

<section id="HPCarousel">
    <div class="container p-0">
        <div class="row">
            <div class="col-12">

                <div id="owl-1" class="owl-carousel owl-carousel-hero">
                    <div class="slide">
                        <div class="overlay-container">
                            <div class="slide-overlay">
                                <div class="slide-text-1">
                                    <h2>SPEND <span>&amp;</span>SAVE</h2>
                                </div>
                                <div class="slide-text-2">Up to 20% off - spend levels apply&nbsp; »</div>
                                <div class="slide-button inline-button">
                                    <a href="/sofa-sale">SHOP SPEND+SAVE</a>
                                </div>
                            </div>
                        </div>

                        <a href="/sofa-sale">
                        {{templateChooser slideImage}}
                        </a>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
